In [9]:
import pandas as pd
import csv

In [14]:
df = pd.read_csv('train1.csv', engine='python', error_bad_lines=False)

In [16]:
print(df['DisplayName'])

0            Eric Berry
1          Allen Bailey
2        Justin Houston
3       Derrick Johnson
4            Ron Parker
5              Dee Ford
6     Terrance Mitchell
7        Phillip Gaines
8       Daniel Sorensen
9         Marcus Peters
10          Chris Jones
11       Danny Amendola
12       Rob Gronkowski
13        Marcus Cannon
14          Nate Solder
15            Tom Brady
16          Chris Hogan
17        Brandin Cooks
18          James White
19           Shaq Mason
20        David Andrews
21           Joe Thuney
22           Eric Berry
23         Allen Bailey
24       Justin Houston
25      Derrick Johnson
26           Ron Parker
27             Dee Ford
28    Terrance Mitchell
29       Phillip Gaines
            ...
19                  NaN
20                  NaN
21                  NaN
22                  NaN
23                  NaN
24                  NaN
25                  NaN
26                  NaN
27                  NaN
28                  NaN
29                  NaN
30                  NaN
31                  NaN
32                  NaN
33                  NaN
34                  NaN
35                  NaN
36                  NaN
37                  NaN
38                  NaN
39                  NaN
40                  NaN
41                  NaN
42                  NaN
43                  NaN
44                  NaN
45                  NaN
46                  NaN
47                  NaN
48                  NaN
Name: DisplayName, Length: 284783, dtype: object